<html>
  <head>
  </head>
  <body style='width: 100%;'>
    <header
      style='
        padding: 1rem;
        border-bottom: 2px solid #96bf01ff;
        width: 100%;
      '
    >
      <h2 style='font-size: 2rem; font-weight:700;'>Ruby Resorts</h2>
    </header>
    <section style='height:80vh; width:full; font-size:1.2rem'>
      <p>Warm greetings,
        <span
          style='font-size: 1.3rem; font-weight:700; color:#96bf01ff'
        >{{name}}</span></p>
      <p>
        We are sorry to hear that you won’t be joining us this time, but we
        understand that plans can change.
      </p>
      <a
        target='_blank'
        style='background-color:#96bf01ff ; color:white; font-weight:600; padding:1rem; text-decoration:none; display:inline-block '
        href={{link}}
        role='button'
      >Your Reservation</a>
      <p>
        We have successfully processed your cancellation. You can expect the
        refund to be credited back to your account within 5-7 business days.
      </p>
      <p>
        We hope that we will have the opportunity to welcome you to Ruby Resorts
        in the future. If there is anything we can assist you with or if you
        have any questions, please do not hesitate to reach out to us.
      </p>
      <p>
        Thank you once again for considering Ruby Resorts for your stay.
      </p>
      <p style='margin-top: 2rem;'>If this action was not performed by you,
        please reach out to us immediately</p>
    </section>
    <footer style='border-top: 2px #96bf01ff solid;'>
      <h2 style='font-size: 1.2rem; font-weight:700; margin: 2rem 0rem'>Ruby
        Resorts Team</h2>
    </footer>
  </body>
</html>