<html>
  <head>
  </head>
  <body style='width: 100%;'>
    <header
      style='
        padding: 1rem;
        border-bottom: 2px solid #96bf01ff;
        width: 100%;
      '
    >
      <h2 style='font-size: 2rem; font-weight:700;'>Ruby Resorts</h2>
    </header>
    <section style='height:80vh; width:full; font-size:1.2rem'>
      <p>Warm greetings,
        <span
          style='font-size: 1.3rem; font-weight:700; color:#96bf01ff'
        >{{name}}</span></p>
      <p>
        Please use the following OTP code to reset your password
      </p>

      <p
        style='margin: 30px 100px; font-size:1.4rem; font-weight:800'
      >{{code}}</p>

      <p style='margin-top: 2rem;'>If this action was not performed by you,
        please reach out to us immediately</p>
    </section>
    <footer style='border-top: 2px #96bf01ff solid;'>
      <h2 style='font-size: 1.2rem; font-weight:700; margin: 2rem 0rem'>Ruby
        Resorts Team</h2>
    </footer>
  </body>
</html>